{% extends 'base.html' %}
{% block content_title %}
  <h1>
    Projects
    {% if request.user.is_authenticated %}
      <span class="actions"><a href="{% url 'appomatic_arbetsformedling.views.project_create' %}">Create project</a></span>
    {% endif %}
  </h1>
{% endblock %}
{% block content %}
  {% if not request.user.is_authenticated %}
    <div class="blurb">
      <h1>Hej och välkommen till Piratarbetsförmedlingen!</h1>
      <p>Projektet är just nu i betatest. Om du hittar några buggar så maila gärna mig på egil.moller@piratpartiet.se. Skriv i så fall adressen till sidan som ofunkar, vad du klickade på för att komma dit, och gärna en skärmdump.</p> 
      <p>Du kan titta på de projekt som söker hjälp nedan utan att vara inloggad, men för att få störst nytta av siten måste du <a href="{% url 'userena_signup' %}">registrera dig</a> eller <a href="{% url 'userena_signin' %}">logga in</a>.</p>
    </div>
  {% endif %}
  <div class="list">
    {% for project in projects %}
       <a class="item" href="{% url 'appomatic_arbetsformedling.views.project' name=project.slug %}">
         <h3>
           {{project.name}}
           {% if project.matching_skills %}
             (
               {% for skill in project.matching_skills %}
                 {{skill.name}}
               {% endfor %}
             )
          {% endif %}
        </h3>
        <p class="subheading">By {{project.owner.user.username}} {{project.created|date:"Y-m-d H:i:s"}}</p>
        <p>{{project.summary}}</p>
      </a>
    {% endfor %}
  </div>
{% endblock %}
